<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ios-1</string>
		<key>detail</key>
		<string>11111111</string>
		<key>code</key>
		<string>1</string>
	</dict>
    <dict>
        <key>title</key>
        <string>ios-2</string>
        <key>detail</key>
        <string>2222222</string>
        <key>code</key>
        <string>2</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-3</string>
        <key>detail</key>
        <string>3333333</string>
        <key>code</key>
        <string>3</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-4</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>2</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-5</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>3</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-6</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>4</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-7</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>5</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-8</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>6</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-9</string>
        <key>detail</key>
        <string>dadadadaad</string>
        <key>code</key>
        <string>7</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-10</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>8</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-1</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>9</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-1</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>10</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-11</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>11</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-12</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>12</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-13</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>13</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-14</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>14</string>
    </dict>
    <dict>
        <key>title</key>
        <string>ios-15</string>
        <key>detail</key>
        <string>dadadadad</string>
        <key>code</key>
        <string>15</string>
    </dict>
</array>
</plist>
